@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
    --font-calendar:
        'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
